{% extends "base.html" %}
{% block content %}

<!-- {% for contact in contacts %}
{{ contact.contact_name }}<br>
{{ contact.contact_number }}<br>
{{ contact.contact_email }}<br>
{% endfor %} -->

<ul class="collapsible">
    {% for contact in contacts %}
    <li>
        <div class="collapsible-header">
            {{ contact.contact_name }} 
            <a class="btn-small blue accent-2">Edit</a>
            <a class="btn-small green accent-3">Done</a>
        </div>
        <div class="collapsible-body">
            <p>phone number: {{ contact.contact_number }}</p>
            <p>email: {{ contact.contact_email }}</p>
            <p>by: {{ contact.created_by}}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}